@font-face{
    font-family: "Montserrat-extra-light";
    src: url('../fonts/Montserrat/Montserrat-ExtraLight.ttf');
}
@font-face{
    font-family: 'Montserrat-medium';
    src: url('../fonts/Montserrat/Montserrat-Medium.ttf');
}
@font-face{
    font-family: 'Roboto-thin';
    src: url('../fonts/Roboto/Roboto-Thin.ttf')
}
@font-face{
    font-family: 'Roboto-Regular';
    src: url('../fonts/Roboto/Roboto-Regular.ttf');
}