doctype html
head
  meta(charset='UTF-8')
  meta(http-equiv='X-UA-Compatible' content='IE=edge')
  meta(name='viewport' content='width=device-width, initial-scale=1.0')
  title Project
  link(rel='stylesheet' href='styles/main.min.css')
header
  nav
    .logo DREAMSHARE
    .autorization
      a.log-in(href='#') Log in
      a.sign-up(href='#') Sign up
  .header-container
    .header-container__logo DREAMSHARE
    .header-container__slogan Share your holiday dreams
    .header-container__slogan-cont And find the perfect partner to fullfill it
    .header-container__btn-con
      button.header-container__btn Find your holiday partner
main
  section.works
    .works__title How Dreamshare works?
    .works__block.works__block_first
      .works__info
        .works__block-step STEP 1
        .works__block-main Sed leo enim, condimentum
        .works__block-secondary
          | Quisque libero libero, dictum non turpis in, luctus semper lorem. Donec rhoncus a leo sit amet facilisis.
    .works__block.works__block_second
      .works__info
        .works__block-step STEP 2
        .works__block-main.works__block-main_center Morbi velit risus
        .works__block-secondary.works__block-secondary_center
          | Nulla venenatis tempor dui in molestie. Nulla quis dictum purus, sit amet porttitor est.
    .works__block.works__block_third
      .works__info
        .works__block-step STEP 3
        .works__block-main Sed leo enim, condimentum
        .works__block-secondary
          | Quisque libero libero, dictum non turpis in, luctus semper lorem. Donec rhoncus a leo sit amet facilisis.
  section.partners
    .partners__title Meet a partner for your best holiday
    .partners__block
      .partners__photo.partners__photo_1
      .partners__name Bradley Hunter
      .partners__text Based in Chicago. I love playing tennis and loud music.
    .partners__block
      .partners__photo.partners__photo_2
      .partners__name Marie Bennett
      .partners__text Currently living in Colorado. Lover of art, languages and travelling.
    .partners__block
      .partners__photo.partners__photo_3
      .partners__name Diana Wells
      .partners__text
        | Living in Athens, Greece. I love black and white classics, chillout music and green tea.
    .partners__block
      .partners__photo.partners__photo_4
      .partners__name Cristopher Pierce
      .partners__text Star Wars fanatic. I have a persistent enthusiasm to create new things.
    .partners__btn-con
      button.partners__btn See other partners
  section.activities
    .activities__title Discover holiday activity ideas
    .activities__block.activities__block_1
      .activities__description Sport and Activities
    .activities__block.activities__block_2
      .activities__description Wellness and Health
    .activities__block.activities__block_3
      .activities__description
        | Extreme Sports 
        br
        |  and Expeditions
    .activities__block.activities__block_4
      .activities__description Games
    .activities__block.activities__block_5
      .activities__description Culture and Education
    .activities__block.activities__block_6
      .activities__description Enjoyment and Relaxation
    .activities__block.activities__block_7
      .activities__description Traveling
  section.create
    .create__title Create your holiday activity
    .create__text Hi! What are your holiday interests?
    .create__btn-con
      input.create__input(type='text' placeholder='Enter your interests')
      button.create__btn Search partners
footer.footer
  .footer__con
    .footer__dreamshare DREAMSHARE
    .footer__company
      .footer__company_title Company
      ul
        li
          a(href='#') About
        li
          a(href='#') Contact
        li
          a(href='#') Press
        li
          a(href='#') Blog
        li
          a(href='#') Terms and Privacy
        li
          a(href='#') Help
    .footer__partners Partners
    .footer__areto
      .footer__areto_signment DESIGNED BY
      .footer__areto_logo
